body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #BE5985;
  color: white;
  text-align: center;
  padding: 20px 0;
}

main {
  padding: 20px;
}

#quiz-container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  border-radius: 8px;
  padding: 20px;        
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#quiz {
  margin-bottom: 20px;
}

.question {
  margin-bottom: 20px;
}

.options {
  margin: 10px 0;
}

button {
  background-color: #ffb8e0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #EC7FA9;
}

#result {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}
